@model IEnumerable<K22CNT2_NongVanBach_2210900003.Models.Showtime>

@{
    ViewBag.Title = "Index";
}

<h2>Danh Sách Những Bộ Phim Đang Chiếu</h2>

<p>
    @Html.ActionLink("Thêm Phim Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ngay_chieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gio_chieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phong_chieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cinema.ten_rap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movy.ten_phim)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ngay_chieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gio_chieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phong_chieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinema.ten_rap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movy.ten_phim)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ma_suat_chieu }) |
                @Html.ActionLink("Thông Tin", "Details", new { id = item.ma_suat_chieu }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ma_suat_chieu })
            </td>
        </tr>
    }

</table>
