@model K22CNT2_NongVanBach_2210900003.Models.Movy

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa</h2>

<h3>Chắc chắn xóa dữ liệu này chứ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_phim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_phim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.the_loai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.the_loai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dao_dien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dao_dien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dien_vien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dien_vien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thoi_luong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoi_luong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_phat_hanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_phat_hanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mo_ta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mo_ta)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button style="background-image: linear-gradient(to right, #f5b7b1, #ffffff)"> <input type="submit" value="Xóa" class="btn btn-default" /> </button> |
            <button class="col-md-offset-5 col-md-1" style="background-image: linear-gradient(to right, #ffd800, #ffffff);width: 100px; height:40px;"> @Html.ActionLink("Quay lại", "Index")</button>
        </div>
    }
</div>
