@model K22CNT2_NongVanBach_2210900003.Models.Movy

@{
    ViewBag.Title = "Edit";
}

<h2>Sửa</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ma_phim)

        <div class="form-group">
            @Html.LabelFor(model => model.ten_phim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ten_phim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ten_phim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.the_loai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.the_loai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.the_loai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dao_dien, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dao_dien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dao_dien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dien_vien, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dien_vien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dien_vien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.thoi_luong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.thoi_luong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.thoi_luong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ngay_phat_hanh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ngay_phat_hanh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ngay_phat_hanh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mo_ta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mo_ta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mo_ta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <button class="col-md-offset-5 col-md-1" style="background-image: linear-gradient(to right, #f5b7b1, #ffffff);"><input type="submit" value="Lưu" class="btn btn-default" /></button>
                <button class="col-md-offset-5 col-md-1" style="background-image: linear-gradient(to right, #ffd800, #ffffff); width: 100px; height:40px;">@Html.ActionLink("Quay lại", "Index")</button>
            </div>
        </div>
    </div>
}





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
