@model K22CNT2_NongVanBach_2210900003.Models.Booking

@{
    ViewBag.Title = "Edit";
}

<h2>Sửa Thông Tin</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Booking</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ma_dat_ve)

        <div class="form-group">
            @Html.LabelFor(model => model.ma_nguoi_dung, "ma_nguoi_dung", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ma_nguoi_dung", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ma_nguoi_dung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ma_suat_chieu, "ma_suat_chieu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ma_suat_chieu", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ma_suat_chieu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ghe_ngoi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ghe_ngoi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ghe_ngoi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tong_tien, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tong_tien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tong_tien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.trang_thai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.trang_thai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.trang_thai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ngay_dat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ngay_dat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ngay_dat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button> <input type="submit" value="Lưu" class="btn btn-default" /> </button>|<button style="width: 100px; height:40px;"> @Html.ActionLink("Quay lại", "Index")</button>
            </div>
        </div>
    </div>
}


